In [1]:
import pandas as pd

In [241]:
## Load datasets
data1 = pd.read_csv('../data/raw/log-data.csv')
data2 = pd.read_csv('../data/raw/production-cost.csv')
data3 = pd.read_csv('../data/raw/products.csv')
data4 = pd.read_csv('../data/raw/warehouse-shipping-costs.csv')

In [242]:
print(data1.head())

         Date Order_ID Product_ID Dest. Warehouse  Source Factory  \
0  2023-04-01   O00001       P011            W013            F001
1  2023-04-01   O00002       P003            W007            F005
2  2023-04-01   O00003       P005            W008            F005
3  2023-04-01   O00004       P017            W009            F001
4  2023-04-01   O00005       P019            W019            F002

   Shipping Time (Expected)  Shipping Time (Actual) Delay Risk?  \
0                         4                       4          No
1                         3                       2          No
2                         4                       5         Yes
3                         3                       3          No
4                         6                       6          No

   Total No. of Pieces  No. of pieces sold  No. of Pieces Returned  \
0                 1873                1368                      76
1                  820                 582                      36
2                 1225                 781                      86
3                 1559                1304                      56
4                  907                 596                      50

   Avg. Batch Rating
0                4.4
1                3.8
2                4.7
3                4.7
4                4.9

In [243]:
print(data1.describe())

       Shipping Time (Expected)  Shipping Time (Actual)  Total No. of Pieces  \
count              82463.000000            82463.000000         82463.000000
mean                   4.311449                4.486812          1223.386974
std                    1.106820                1.553862           385.185614
min                    3.000000                1.000000           500.000000
25%                    3.000000                3.000000           921.000000
50%                    4.000000                4.000000          1232.000000
75%                    5.000000                6.000000          1547.000000
max                    6.000000                8.000000          1999.000000

       No. of pieces sold  No. of Pieces Returned  Avg. Batch Rating
count        82463.000000            82463.000000       82463.000000
mean           871.602719               69.869905           4.249951
std            327.172347               35.470197           0.434285
min            101.000000               14.000000           3.500000
25%            610.000000               45.000000           3.900000
50%            871.000000               63.000000           4.200000
75%           1108.000000               86.000000           4.600000
max           1794.000000              333.000000           5.000000

In [244]:
data1 = data1.rename(columns={'Date': 'date', 'Order_ID': 'order_id', 'Product_ID': 'product_id', 'Dest. Warehouse': 'warehouse', ' Source Factory': 'factory_id', 'Shipping Time (Expected)': 'expected_shipping_time', 'Shipping Time (Actual)': 'actual_shipping_time', 'Delay Risk?': 'delay_risk', 'Total No. of Pieces': 'total_pieces', 'No. of pieces sold': 'pieces_sold', 'No. of Pieces Returned': 'pieces_returned', 'Avg. Batch Rating': 'average_batch_rating'})

In [245]:
print(data1.head())

         date order_id product_id warehouse factory_id  \
0  2023-04-01   O00001       P011      W013       F001
1  2023-04-01   O00002       P003      W007       F005
2  2023-04-01   O00003       P005      W008       F005
3  2023-04-01   O00004       P017      W009       F001
4  2023-04-01   O00005       P019      W019       F002

   expected_shipping_time  actual_shipping_time delay_risk  total_pieces  \
0                       4                     4         No          1873
1                       3                     2         No           820
2                       4                     5        Yes          1225
3                       3                     3         No          1559
4                       6                     6         No           907

   pieces_sold  pieces_returned  average_batch_rating
0         1368               76                   4.4
1          582               36                   3.8
2          781               86                   4.7
3         1304               56                   4.7
4          596               50                   4.9

In [246]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82463 entries, 0 to 82462
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    82463 non-null  object
 1   order_id                82463 non-null  object
 2   product_id              82463 non-null  object
 3   warehouse               82463 non-null  object
 4   factory_id              82463 non-null  object
 5   expected_shipping_time  82463 non-null  int64
 6   actual_shipping_time    82463 non-null  int64
 7   delay_risk              82463 non-null  object
 8   total_pieces            82463 non-null  int64
 9   pieces_sold             82463 non-null  int64
 10  pieces_returned         82463 non-null  int64
 11  average_batch_rating    82463 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 7.5+ MB

In [247]:
## Convert date to correct format
data1['date']  = pd.to_datetime(data1['date'], errors = 'coerce')

In [248]:
data1['delay_risk'] = data1['delay_risk'].map({'Yes': 1, 'No': 0})

In [249]:
print(data1['delay_risk'].unique())

[0 1]

In [250]:
duplicate_rows = data1.duplicated()
print("Number of duplicate rows:", duplicate_rows.sum())

Number of duplicate rows: 0

In [251]:
print(data1['product_id'].unique())

['P011' 'P003' 'P005' 'P017' 'P019' 'P018' 'P020' 'P010' 'P014' 'P009'
 'P016' 'P002' 'P007' 'P015' 'P008' 'P013' 'P006' 'P012' 'P001' 'P004'
 'P040' 'P021' 'P024' 'P022' 'P030' 'P032']

In [252]:
print(data1['factory_id'].unique())

['F001' 'F005' 'F002' 'F003' 'F004']

In [253]:
print(data2.head())

  Factory_ID Product_ID  Manufac_Cost
0       F003       P001     10.173168
1       F003       P002      9.382752
2       F005       P003     10.958153
3       F003       P004     11.591240
4       F005       P005      9.468200

In [254]:
data2 = data2.rename(columns={'Factory_ID': 'factory_id', 'Product_ID': 'product_id', 'Manufac_Cost': 'manufacturing_cost'})

In [255]:
print(data2.head())

  factory_id product_id  manufacturing_cost
0       F003       P001           10.173168
1       F003       P002            9.382752
2       F005       P003           10.958153
3       F003       P004           11.591240
4       F005       P005            9.468200

In [256]:
print(data2.describe())

       manufacturing_cost
count          159.000000
mean            14.797284
std              8.091600
min              2.567953
25%              9.253012
50%             13.005979
75%             17.791158
max             43.958555

In [257]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   factory_id          159 non-null    object
 1   product_id          159 non-null    object
 2   manufacturing_cost  159 non-null    float64
dtypes: float64(1), object(2)
memory usage: 3.9+ KB

In [258]:
print(data2['product_id'].unique())

['P001' 'P002' 'P003' 'P004' 'P005' 'P006' 'P007' 'P008' 'P009' 'P010'
 'P011' 'P012' 'P013' 'P014' 'P015' 'P016' 'P017' 'P018' 'P019' 'P020'
 'P021' 'P022' 'P023' 'P024' 'P025' 'P026' 'P027' 'P028' 'P029' 'P030'
 'P031' 'P032' 'P033' 'P034' 'P035' 'P036' 'P037' 'P038' 'P039' 'P040']

In [259]:
print(data2['factory_id'].unique())

['F003' 'F005' 'F001' 'F002' 'F004']

In [260]:
print(data3.head())

  Product_ID              Name Gender  Selling_Price  Weight (in Kg)
0       P001      Men's Tshirt      M           20.0            0.18
1       P002       Men's Shirt      M           30.0            0.20
2       P003  Men's Polo Shirt      M           30.0            0.20
3       P004  Men's Sweatshirt      M           40.0            0.40
4       P005      Men's Hoodie      M           40.0            0.40

In [261]:
data3 = data3.rename(columns={'Product_ID': 'product_id', 'Name': 'name', 'Gender': 'gender', 'Selling_Price': 'selling_price', 'Weight (in Kg)': 'weight_kg'})

In [262]:
print(data3.head())

  product_id              name gender  selling_price  weight_kg
0       P001      Men's Tshirt      M           20.0       0.18
1       P002       Men's Shirt      M           30.0       0.20
2       P003  Men's Polo Shirt      M           30.0       0.20
3       P004  Men's Sweatshirt      M           40.0       0.40
4       P005      Men's Hoodie      M           40.0       0.40

In [263]:
print(data3.describe())

       selling_price  weight_kg
count      40.000000  40.000000
mean       39.000000   0.527000
std        18.158843   0.510179
min        10.000000   0.030000
25%        30.000000   0.200000
50%        30.000000   0.400000
75%        50.000000   0.600000
max        80.000000   2.200000

In [264]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     40 non-null     object
 1   name           40 non-null     object
 2   gender         40 non-null     object
 3   selling_price  40 non-null     float64
 4   weight_kg      40 non-null     float64
dtypes: float64(2), object(3)
memory usage: 1.7+ KB

In [265]:
print(data3['gender'].unique())

['M' 'F' 'U']

In [266]:
data3['gender'] = data3['gender'].map({'M': 0, 'F': 1, 'U': 2})

In [267]:
print(data3['product_id'].unique())

['P001' 'P002' 'P003' 'P004' 'P005' 'P006' 'P007' 'P008' 'P009' 'P010'
 'P011' 'P012' 'P013' 'P014' 'P015' 'P016' 'P017' 'P018' 'P019' 'P020'
 'P021' 'P022' 'P023' 'P024' 'P025' 'P026' 'P027' 'P028' 'P029' 'P030'
 'P031' 'P032' 'P033' 'P034' 'P035' 'P036' 'P037' 'P038' 'P039' 'P040']

In [268]:
print(data4.head())

  Warehouse_ID Source Factory_ID Product_ID  Shipping Cost (per 1000 pieces)
0         W001              F005       P022                           2500.0
1         W002              F001       P002                           1400.0
2         W003              F002       P014                            450.0
3         W004              F003       P024                           9600.0
4         W005              F001       P005                           1600.0

In [269]:
data4 = data4.rename(columns={'Warehouse_ID': 'warehouse_id', 'Source Factory_ID': 'factory_id', 'Product_ID': 'product_id', 'Shipping Cost (per 1000 pieces)': 'shipping_cost_per_1000_pieces'})

In [270]:
print(data4.head())

  warehouse_id factory_id product_id  shipping_cost_per_1000_pieces
0         W001       F005       P022                         2500.0
1         W002       F001       P002                         1400.0
2         W003       F002       P014                          450.0
3         W004       F003       P024                         9600.0
4         W005       F001       P005                         1600.0

In [271]:
print(data4.describe())

       shipping_cost_per_1000_pieces
count                     386.000000
mean                     2482.590674
std                      3010.505937
min                        30.000000
25%                       600.000000
50%                      1440.000000
75%                      3200.000000
max                     22000.000000

In [272]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386 entries, 0 to 385
Data columns (total 4 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   warehouse_id                   386 non-null    object
 1   factory_id                     386 non-null    object
 2   product_id                     386 non-null    object
 3   shipping_cost_per_1000_pieces  386 non-null    float64
dtypes: float64(1), object(3)
memory usage: 12.2+ KB

In [273]:
print(data4['product_id'].unique())

['P022' 'P002' 'P014' 'P024' 'P005' 'P015' 'P040' 'P032' 'P021' 'P016'
 'P020' 'P030' 'P001' 'P003' 'P017' 'P006' 'P004' 'P007' 'P008' 'P009'
 'P010' 'P011' 'P012' 'P013' 'P018' 'P019']

In [274]:
print(data4['factory_id'].unique())

['F005' 'F001' 'F002' 'F003' 'F004']

In [275]:
merged_data = pd.merge(data1, data2, on=['product_id', 'factory_id'], how='inner')

In [276]:
merged_data = pd.merge(merged_data, data3, on='product_id', how='inner')

In [277]:
merge_data = pd.merge(merged_data, data4, on=['product_id', 'factory_id'],  how='inner')

In [278]:
print(merged_data.describe())

                                date  expected_shipping_time  \
count                          82463            82463.000000
mean   2023-08-28 08:44:39.427136768                4.311449
min              2023-04-01 00:00:00                3.000000
25%              2023-06-15 00:00:00                3.000000
50%              2023-08-28 00:00:00                4.000000
75%              2023-11-11 00:00:00                5.000000
max              2024-01-25 00:00:00                6.000000
std                              NaN                1.106820

       actual_shipping_time    delay_risk  total_pieces   pieces_sold  \
count          82463.000000  82463.000000  82463.000000  82463.000000
mean               4.486812      0.269357   1223.386974    871.602719
min                1.000000      0.000000    500.000000    101.000000
25%                3.000000      0.000000    921.000000    610.000000
50%                4.000000      0.000000   1232.000000    871.000000
75%                6.000000      1.000000   1547.000000   1108.000000
max                8.000000      1.000000   1999.000000   1794.000000
std                1.553862      0.443629    385.185614    327.172347

       pieces_returned  average_batch_rating  manufacturing_cost  \
count     82463.000000          82463.000000        82463.000000
mean         69.869905              4.249951           12.887541
min          14.000000              3.500000            5.634468
25%          45.000000              3.900000            9.382752
50%          63.000000              4.200000           10.958153
75%          86.000000              4.600000           16.036461
max         333.000000              5.000000           33.393517
std          35.470197              0.434285            5.192041

             gender  selling_price     weight_kg
count  82463.000000   82463.000000  82463.000000
mean       0.259801      37.838061      0.502096
min        0.000000      15.000000      0.030000
25%        0.000000      30.000000      0.200000
50%        0.000000      30.000000      0.400000
75%        1.000000      40.000000      0.600000
max        2.000000      80.000000      2.200000
std        0.444461      15.939725      0.494375

In [279]:
print("Shape of merged dataset: ", merged_data.shape)

Shape of merged dataset:  (82463, 17)

In [280]:
print("Shape of data1:", data1.shape)
print("Shape of data2:", data2.shape)
print("Shape of data3:", data3.shape)
print("Shape of data4:", data4.shape)

Shape of data1: (82463, 12)
Shape of data2: (159, 3)
Shape of data3: (40, 5)
Shape of data4: (386, 4)

In [281]:
print(merged_data.head())

        date order_id product_id warehouse factory_id  expected_shipping_time  \
0 2023-04-01   O00001       P011      W013       F001                       4
1 2023-04-01   O00002       P003      W007       F005                       3
2 2023-04-01   O00003       P005      W008       F005                       4
3 2023-04-01   O00004       P017      W009       F001                       3
4 2023-04-01   O00005       P019      W019       F002                       6

   actual_shipping_time  delay_risk  total_pieces  pieces_sold  \
0                     4           0          1873         1368
1                     2           0           820          582
2                     5           1          1225          781
3                     3           0          1559         1304
4                     6           0           907          596

   pieces_returned  average_batch_rating  manufacturing_cost  \
0               76                   4.4           16.036461
1               36                   3.8           10.958153
2               86                   4.7            9.468200
3               56                   4.7           12.485528
4               50                   4.9           22.975938

                 name  gender  selling_price  weight_kg
0        Men's Blazer       0           80.0        2.2
1    Men's Polo Shirt       0           30.0        0.2
2        Men's Hoodie       0           40.0        0.4
3  Women's Polo Shirt       1           30.0        0.2
4      Women's Hoodie       1           40.0        0.4

In [282]:
print(merged_data.isnull().sum())

date                      0
order_id                  0
product_id                0
warehouse                 0
factory_id                0
expected_shipping_time    0
actual_shipping_time      0
delay_risk                0
total_pieces              0
pieces_sold               0
pieces_returned           0
average_batch_rating      0
manufacturing_cost        0
name                      0
gender                    0
selling_price             0
weight_kg                 0
dtype: int64

In [283]:
duplicate_rows = merged_data.duplicated()
print("Number of duplicate rows:", duplicate_rows.sum())

Number of duplicate rows: 0

In [284]:
merged_data.to_csv('../data/processed/merged_data.csv', index=False)